@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #525659;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

li {
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 300;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1350px;
  margin: 50px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.left-side {
  position: relative;
  background-color: #161a1d;
  padding-left: 40px;
  padding-top: 40px;
}

.profile-icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  padding-left: 30px;
  /* border-bottom: 1px solid #000; */
}

.profile-icon .image-box {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
}

.profile-icon .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contact-info {
  margin-top: 195px;
  margin-bottom: 20px;
}

.contact-info .title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  overflow: hidden;
}

.contact-list .text {
  font-size: 15px;
  font-weight: 600;
}

.contact-list {
  padding-bottom: 25px;
}

.educ-info .title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  margin-bottom: 20px;
}

.educ-info {
  padding-bottom: 5px;
}

.educ-info p,
span {
  font-size: 12px;
}

.educ-info h3 {
  font-size: 15px;
}

.educ-info li {
  padding-bottom: 20px;
}

.expert-info .title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  margin-bottom: 20px;
}

.expert-info ul {
  padding-left: 15px;
}

.expert-info li {
  list-style: disc;
}

.expert-info {
  padding-bottom: 25px;
}

.core-info .title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  margin-bottom: 20px;
}

.core-info li {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 5px;
}

.right-side {
  position: relative;
  background-color: #fff;
  padding: 40px;
  margin-left: 25px;
}

.right-side li {
  color: #66737b;
  font-weight: 400;
  font-size: 12px;
  text-align: justify;
}

.user-name {
  padding-bottom: 20px;
}

.user-name .title {
  font-size: 40px;
  color: #323b4c;
}

.user-name .text {
  font-size: 15px;
  color: #323b4c;
  font-weight: 400;
  padding-bottom: 12px;
}

.project-info .title {
  color: #323b4c;
  font-size: 27px;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #323b4c;
  overflow: hidden;
  margin-bottom: 20px;
}

.project-info h3 {
  font-size: 20px;
  text-align: left;
  padding-bottom: 5px;
}

.project-info p {
  font-size: 12px;
  text-align: left;
  font-weight: 400;
  padding-bottom: 5px;
}

.sec-text .sub-title {
  font-weight: 700;
  font-size: 15px;
  color: #66737b;
  padding-bottom: 12px;
}

.sec-text li {
  list-style-type: disc;
  color: #66737b;
  padding-bottom: 8px;
}

.sec-text .sub-text {
  font-size: 12px;
  font-weight: 500;
}

.sec-text ul {
  padding-left: 15px;
  padding-bottom: 10px;
}

.third-text .third-title {
  font-weight: 700;
  font-size: 15px;
  color: #66737b;
  padding-bottom: 12px;
}

.third-text li {
  list-style-type: disc;
  color: #66737b;
  padding-bottom: 8px;
}

.third-text ul {
  padding-left: 15px;
  padding-bottom: 25px;
}

.ach-info .title {
  color: #323b4c;
  font-size: 27px;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #323b4c;
  overflow: hidden;
  margin-bottom: 20px;
}

.ach-info {
  padding-bottom: 15px;
}

.ach-info .fourth-title {
  font-weight: 700;
  font-size: 15px;
  color: #66737b;
  padding-bottom: 12px;
}

.ach-info li {
  list-style-type: disc;
  color: #66737b;
}

.ach-info ul {
  padding-left: 15px;
}

.recog-info {
  padding-bottom: 15px;
}

.recog-info .fifth-title {
  font-weight: 700;
  font-size: 15px;
  color: #66737b;
  padding-bottom: 12px;
}

.recog-info li {
  list-style-type: disc;
  color: #66737b;
}

.recog-info ul {
  padding-left: 15px;
}

.object-info .title {
  color: #323b4c;
  font-size: 27px;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #323b4c;
  overflow: hidden;
  margin-bottom: 20px;
}

.object-info span {
    font-weight: 500;
    color: #66737b;
}